<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>This is About Page {{content}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe iure dolorem hic nobis veniam aliquam fugit cupiditate ipsa repellendus esse cumque perferendis adipisci, neque ab culpa ipsam explicabo odio cum libero suscipit recusandae doloremque consectetur, minima vel! Nam, maiores tenetur!</p>
</body>
</html>